.sub-div {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}




.custom-navbar {
    //overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    background-color: #1e1e2e;
}
