.terminal {
    background-color: #282a36;
    color: #f8f8f2;
    font-family: monospace;
    padding: 10px;
//    border: 1px solid #ccc;
    border-radius: 5px;
    height: 600px;
    overflow-y: auto;
    white-space: pre-line;
}


h1 {
    text-align: center;
}
