/* FullScreenDivs.css */
/*
.full-height {
  height: 100vh;
}
/*

 */

/*
.full-height .row {
  height: 100%;
}
*/

.half-width {
  max-width: 50%;
  width: 50%;
  box-sizing: border-box;
  //border: 1px solid black; /* Optional: Add borders for visualization */
}
